.profile {
  padding: 40px 100px;
}
.profile-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user-avatar {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 25%;
}
.user-avatar > input {
  width: 115px;
}
.info-block {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.user-info {
  width: 70%;
}
.wrapper-info {
  padding: 50px 80px;
  background: linear-gradient(180deg, #bb9cff07 0%, #8ba5f907 100%);
  box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.2);
  border-radius: 12px;
  margin-bottom: 50px;
}
.info-name {
  width: 150px;
  font-weight:800;
}
.info-input {
  width: 350px;
  height: 40px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  background-color: transparent;
  font-size: 16px;
  margin-right: 10px;
}
.info-input:disabled {
  box-shadow: none;
}
.greeting {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 50px;
}
.info-title {
  display: block;
  font-weight: 700;
  margin-bottom: 40px;
  font-size: 20px;
}
.booking-img {
  width: 180px;
  height: 180px;
  background-image: url(../../assets/hotel-example.png);
  background-size: cover;
  border-radius: 6px;
}
.booking-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  box-shadow: 0px 0px 16px 0px rgba(34, 60, 80, 0.1);
  border-radius: 12px;
  padding: 40px;
  background-color: #fff;
}
.booking-hotel-info {
  display: flex;
  flex-direction: column;
  margin-left: -100px;
}
.hotel-info {
  font-size: 18px;
}
.hotel-info-name {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}
.booking-info {
  background: linear-gradient(180deg, #bb9cff07 0%, #8ba5f907 100%);
  box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.2);
  border-radius: 12px;
  padding: 50px 60px;
  margin-bottom: 40px;
}
.info-block-btn {
  width: 100px;
  height: 30px;
  background-color: #bc9cff;
  color: #fff;
  border-radius: 3px;
  margin-left: 20px;
  transition: 0.2s;
  cursor: pointer;
}
.info-block-btn:hover {
  background-color: #bb9cffc0;
}
.booking-cards-container {
  display: flex;
  justify-content: space-evenly;
}
.favorite-hotels-cards {
  display: flex;
   justify-content: space-evenly;
}
.user-avatar-default {
  margin-bottom: 20px !important;
}
.change-btn{
  float: right;
  background-color: rgb(175, 174, 174) !important;
  border: 1px solid #424242 !important;
  transition: background-color .5s ease !important;
}

.change-btn:hover{
  background-color: rgb(78, 67, 107) !important;
}
