.footer {
  border-top: 1px solid rgba(31, 32, 65, 0.1);
}
.footer .container {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-menu {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.social-link {
  display: block;
  width: 30px;
  height: 30px;
  background-size: contain;
  margin: 0 10px;
  background-color: #bc9cff;
  transition: 0.2s;
}
.instagram-link {
  width: 40px;
  height: 40px;
  -webkit-mask-image: url(../../assets/inst.svg);
  mask-image: url(../../assets/inst.svg);
}
.fb-link {
  -webkit-mask-image: url(../../assets/fb.svg);
  mask-image: url(../../assets/fb.svg);
}
.twitter-link {
  -webkit-mask-image: url(../../assets/twitter.svg);
  mask-image: url(../../assets/twitter.svg);
}
.social-link:hover {
  background-color: #66d2ea;
}
